package cmd

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
	Use:   "{{.Name}}",
	Short: "{{.Name}} is a CLI application",
	Long:  "{{.Name}} is a CLI application scaffolded with Forge.",
}

func Execute() {
	if err := rootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}